@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center">
    <h1 class="slide-up">Welcome</h1>
    <h3 class="slide-up">Available Site Identification and Validation</h3>
</div>
